home/simon/Documents/scripts/conflictNet/data/*
home/simon/Documents/scripts/conflictNet/data/processed/*
home/simon/Documents/scripts/conflictNet/data/raw/*
home/simon/Documents/scripts/conflictNet/data/generated/*

/home/simon/Documents/scripts/conflictNet/data/generated/conflictNet_01/*

*.JPG
*.pkl
*.mp4
*.png